body {
    margin: auto;
    display: flex;
    background-color:#F9F9F9;
}
.title{
    margin: 0 43px;
}
.title__text {
    margin-bottom: 50px;
    
}
form {
    min-width: 700px;
    max-width: 1200px;
    margin: 0 auto;
    
}

.red {
    color: #D83933;
}

input{
    width: 380px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid;
    border-color: #ADADAD;
}

input[type="search"] {
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 2% bottom 50%;
}

select {
    width: 380px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid;
    border-color: #ADADAD;
}

.checkbox {
    width: 24px;
    height: 24px;
    accent-color:  #FF00FF;
    align-items: center;
}

.Info_right {
    margin-left: 467px;
    margin-top: -560px;
}

#Purged {
    margin-top: 105px;
}

.Mat_info__title {
    border-top: 1px solid #ADADAD;
    padding-top: 32px;

    width: 850px;
    margin-top: 60px;
}

section {
    margin: 0 43px;
}

.Mat_info__form {
display: flex;
width: 850px;
border-bottom: 1px solid #ADADAD;
margin-bottom: 32px;
}

.parents {
    margin-left: 205px;
}

.column__4 {

    margin-left: 467px;
    margin-top: -445px;
}

.Sys_info__title {
    border-top: 1px solid #ADADAD;
    padding-top: 32px;
    width: 850px;
    margin-top: 115px;
}

.owner {
    color: #0050D8
}

.sys_info_column { 
    margin-left: 467px;
    margin-top: -145px;
}

.Sys_info {
border-bottom:1px solid #ADADAD ;
padding-bottom: 32px;
}

#button__next {
    height: 40px;
    width: 70px;
    background-color: #0050D8;
    color: white;
    border: #0050D8;
    border-radius: 4px;
    
    margin: 16px 0 20px 825px;

}


