html {
    font-size: 20px;

    --white: #FFFFFF;;
    --black: #0C1116;
    --table__border: #DDE7EC;
    --red: #EB4458;
    --bluehover: #00A6ED;
    --bluetext: #2D9CDB;
}

body {
    background-color: #F4F7F9;
    margin: 0;
    font-family: 'PT Root UI', sans-serif;
    width: 1440px;
}

header {
    font-size: .8rem;
    font-weight: 400;
}

.header-bg,
.main-bg {
    margin: 0 auto;
    width: 1152px;
}

.header-bg {
    background-color: #24292C;
}

.header {
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 124px;
    margin-left: 1%;
}

.nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav a {
    padding: 8px 0;
    font-size: .8rem;
    color: var(--white);
    text-decoration: none;
}

.nav a:hover {
    color: #00A6ED;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, transparent 0%, transparent 40%, rgba(0, 166, 237, 1) 40%, rgba(0, 166, 237, 1) 60%, transparent 60%, transparent 100%);
    border-image-slice: 1;
}

.user {
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.user__incoming {
    position: relative;
}

.user__incoming-number {
    width: 24px;
     display: inline-block; 
    color: var(--white);
    font-size: .7rem;
    position: absolute;
    right: -18px;
    top: -13px;
    padding: 3px 0;
    background-color: #EB4458;
    border-radius: 12px;
    text-align: center;
}

.user__name {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 18px;
}

.user__name>div {
    color: var(--white);

}

.user__name>div>img {
    padding: 3px 5px;
}

.main-bg {
    background-color: #F4F7F9;
}

.main {
    
    margin: 0 auto;
    background-color: #F4F7F9;
    padding-bottom: 40px;
}

.main__tytle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.main__tytle div {
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
}

.btn__up {
    display: flex;
    align-items: center;
    width: 127px;
    height: 40px;
    justify-content: space-evenly;
    border: 1px solid var(--table__border);
    border-radius: 14px;
}

.btn__up a {
    font-size: .8rem;
    font-weight: 500;
    color: var(--black);
    text-decoration: none;
}




.table {
    border: 1px solid var(--table__border);
    border-radius: 24px;
    font-size: .7rem;
    border-collapse: collapse;
}

table {
    border-spacing: 0;
}

td {
    padding: 0;
    border-bottom: 1px solid var(--table__border);
}

.table-application {
    width: 113px;
    padding-left: 32px;
    text-align: right;
}

.table-title {
    width: 208px;
    padding-left: 32px;
}

.table-date {
    width: 136px;
    padding-left: 32px;
}

.table-contractor {
    width: 208px;
    padding-left: 32px;
}

.table-priority {
    width: 85px;
    padding-left: 32px;
    text-align: right;
}

.table-status {
    width: 157px;
    padding-left: 32px;
}

.table-up__win {
    width: 48px;
    text-align: center;
}

td .arrow {
    text-align: left;
    position: relative;
}

.table-thead {
    padding-top: 16px;
    padding-bottom: 16px;

}

.table-thead input {
    width: 100%;
    height: 32px;
    padding-left: 20px;
    border-radius: 8px;
    border: 1px solid white;
    box-shadow: 0px 3px 6px rgba(0, 23, 33, 0.04), 0px 6px 12px rgba(0, 23, 33, 0.04), 0px 10px 20px rgba(0, 23, 33, 0.04), 0px 0px 1px rgba(0, 98, 140, 0.7);
}

.search input {
    background: var(--white) url(../img/main/search.svg) no-repeat 10px 10px/10px 10px;
}

.date input {
    background: var(--white) url(../img/main/calendar.svg) no-repeat 10px 10px/10px 10px;
}

.arrow::after {
    content: url(../img/main/arrowdown.svg);
    position: absolute;
    top: 20px;
    right: 0;
}


.table-tbody {
    padding-top: 8px;
    padding-bottom: 8px;
}

.table-tbody-tr {
    background-color: var(--white);
    cursor: pointer;
}

.table-tbody-tr:hover {
    background-color: transparent;
}

.text__yellow {
    color: #F2C94C;
}

.text__green {
    color: #27AE60;
}

.text__blue {
    color: var(--bluetext)
}

.text__red {
    color: var(--red);
}

/* start dropdown  */
.dropdown {
    position: relative;
    display: inline-block;
    
}

.dots {
    display: inline-block;
    height: 4px;
    width: 14px;
    background-image: url(../img/main/dots.svg);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    width: 192px;
    left: -20px;
    border-radius: 16px;
    box-shadow: -2px -1px 20px rgba(74, 74, 74, 0.1);
    z-index: 1;
}

.dropdown-content span {
    margin-right: 5px;
}

.dropdown-content a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: flex;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dots {
    background-image: url(../img/main/bluedots.svg);
}

/* end dropdown */

.table__footer td {
    border: none;
    background-color: var(--white);
}
.left{
    border-bottom-left-radius: 24px;
}
.right{
    border-bottom-right-radius: 24px;
}

.footer-btn {
    display: flex;
    margin: 24px 40px;
}

.footer-btn button {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-btn a {
    text-decoration: none;
}

.footer-btn button:hover {
    background-color: #00A6ED;
}

.footer-content {
    margin: 24px 40px;
}

.footer-content input {
    width: 56px;
    height: 32px;
    border: 1px solid var(--table__border);
    border-radius: 8px;
    padding-left: 15px;
    margin-left: 10px;
}
