


a{
    text-decoration: none;
}
.mainframe {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: black;
    width: 404px;
    height: 490px;
    padding-top: 13px;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.welc{
    
    display: block;
    color: white; 
    text-align: center;
    margin: 6px;
    font-size: 29px;
    letter-spacing: 14px;
    
}
.but-box{
    margin: 54px;
}
.button {
    box-sizing: border-box;
    font-size: 19px;
    font-weight: bolder;
   display: block;
    width: 80%;
    height: 10%;
    border: 4px white solid; 
    color: white;
    text-align: center;
   margin: 10px auto; 
   padding: 2.5%;
}