html{
--white: #fff;
--black: #000;
font-family: 'Rosario', sans-serif;
font-style: italic;
font-size: 18px;
}

body{
    margin:0;
}

a{
    text-decoration: none;
}

/* header start */
header{
    position: sticky;
    top: 0;
    z-index: 1;
    
}

.bg-color{
    display: flex;
    background-color: var(--black);
    color: var(--white);
    align-items: center;
    justify-content: space-between;
       
}

.nav{
    list-style: none;
    display: flex;
    width: 55%;
    justify-content: space-between;
    

}

.nav__item{
    flex-grow: 1;
    font-weight: 700;
    font-size: 2rem;
    
}
.nav__item a{
    display: inline-block;
width: 100%;
text-align: center;
padding: 15px 0;
text-decoration: none;
color: var(--white80);
}

/*header end */

/* main start */

      /*gallery start*/

      .Gallery{
        overflow: hidden;
        margin-top: 129px;
    }
     .left-right img{
        width: 100%;
      }

      .photo__center__photo img{
        width: 100%;
      }
      

      .left-right {
        width: 30vh;
      }

      .photo__center__photo{
        width: 38vh;
      }

      
      .photo, .photo__center, .photo__up, .photo__down{
        display: flex;
        justify-content: space-between;
      }
      .photo__center{
        flex-direction: column;
        width: 52%;
        margin: 18px;
        
      }

    .photo{
    margin: 71px auto 0 auto;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    box-sizing: border-box;  
      
    }
 

.photo>img{
    width:100%;
}

   

    .photo__up{
    margin-bottom: 42px;
    }
 
    .photo__up__right, .photo__down__right{
    transform: translateX(1000vw);
    animation-name: animation__1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 1s;
}

.photo__up__left, .photo__down__left{
    transform: translateX(-1000vw);
    animation-name: animation__2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 1s;
}

.photo__left{
    transform: translateX(-1000vw);
    animation-name: animation__3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 2s;
}

.photo__right{
    transform: translateX(1000vw);
    animation-name: animation__4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 2s;
}

@keyframes animation__1 {
    0% {transform: translateX(100%);}
    100%{transform: translateX(0%);}
}

@keyframes animation__2 {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0%);}
}

@keyframes animation__3{
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0%);}
}

@keyframes animation__4 {
    0% {transform: translateX(100%);}
    100% {transform: translateX(0%);}
}

/*gallery end */

/* services start */

.services{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.services__items{
    min-width: 50%;
    min-height: 60vh;
    max-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;

}

.services__img{
    background-size: 100%;
    min-width: 50%;
    min-height: 95vh;
    background-image: url(../img/services/barber.png);
    background-repeat: no-repeat;
    
}

.service-item{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.service-item__title{
    font-size: 3.1rem;
    font-style: italic;
    font-weight: 700;
    
}

.services__item-top-1{
    position: relative;
    animation: animation__5 13s infinite ;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;

}


@keyframes animation__5 {
    0% {transform: translate(0, 0);}
    25%{transform: translate(100%, 0%);}
    50%{transform: translate(100%, 115%);}
    75%{transform: translate(0%, 115%);}
    100%{transform: translate(0%, 0%);}
    
}

.services__item-top-2 {
    animation: animation__6 13s infinite ;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;

}

@keyframes animation__6 {
    0% {transform: translate(0, 0);}
    25%{transform: translate(0%, 115%);}
    50%{transform: translate(-100%, 115%);}
    75%{transform: translate(-100%, 0%);}
    100%{transform: translate(0%, 0%);}
}

.services__item-bottom-2 {
    animation: animation__7 13s infinite ;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
}

@keyframes animation__7 {
    0% {transform: translate(0, 0);}
    25%{transform: translate(-100%, 0%);}
    50%{transform: translate(-100%, -115%);}
    75%{transform: translate( 0%, -115%);}
    100%{transform: translate(0%, 0%);}
}

.services__item-bottom-1{
    animation: animation__8 13s infinite ;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
}

@keyframes animation__8 {
    0% {transform: translate(0, 0);}
    25%{transform: translate(0%, -115%);}
    50%{transform: translate(100%, -115%);}
    75%{transform: translate(100%, 0%);}
    100%{transform: translate(0%, 0%);}
}

/* services end */

/*team start*/

.team__title{
    margin-top: 200px;
    font-style: normal;
    font-weight: 700;
    font-size: 5.3rem;
    text-align: center;

}

.cards{
   display: flex;
   justify-content: space-between;
   max-width: 90%;
   margin: 50px auto;
}
/*/
.card img {
    width: 100%;
    height:inherit;
}*/

.card__img{
    height: 70vh;
    border-radius: 40px; 
    background-repeat: no-repeat;
    background-size: 100%;
   
}

.card{
    width: 23%;
    position: relative;
    box-sizing: border-box;
    
}

.img1{
    background-image: url(../img/team/1.png) ;
    
  
}
.img2{
    background-image: url(../img/team/2.png);
}
.img3{
    background-image: url(../img/team/3.png);
}
.img4{
    background-image: url(../img/team/4.png);
}


.card__hidden{
    font-size: 2.8rem;
    font-family: 'Volkhov', serif;
    font-weight: 400;
    height: 157px;
    width: 100%;
    background: rgba(163, 83, 10, 0.7);
    display: flex;
    padding: 50px 0;
    justify-content: center;
    visibility: hidden;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    border-radius:  0 0 40px 40px;
}




.cards:hover .card__img{
    filter: brightness(40%);
}

.cards .card .card__img:hover{
    filter: none;
}
.card__img:hover>.card__hidden{
    visibility: visible;
    transition:ease-in-out;
    transition-duration: 200ms;
    
}

/*team end*/

/*contact__us start*/



.contact-us{
    
    display: flex;
    justify-content:space-between;
    width: 85%;
    margin: 200px auto 0 auto;
}

.contact-us__form{
    width: 50%;
    display: flex;
    flex-direction: column;
justify-content: space-around;


}

.form-title{
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 48px;


}

.form-container{
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    padding: 35px 28px;
}

.form-top{
    width: 96%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.form-container input{
    font-weight: 700;
    width: 48%;
    height:fit-content;
    font-size: 2rem;
    border: var(--white) solid 2px;
    color:  rgba(0, 0, 0, 0.5);
}

.text-form{
    width: 96%;
    margin: 0 auto;
    
}
textarea{
    font-size: 2rem;
    margin-top: 43px;
    width: 100%;
    border: var(--white) solid 2px;
    color:  rgba(0, 0, 0, 0.5);
    font-weight: 700;
    height: 18vh;
}

.contact-us__map{
width: 45%;
}
iframe{
    width: 100%;
    height: 100%;
}
/*contact__us end*/

/*footer start*/
.footer__container{
    padding: 40px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}
/*left*/
.container-1{
    width: 40%;
    font-weight: 600;
    font-size: 1.7rem;
    text-align: center;
}
.container-1 span{
    font-weight: 700;
}
/*center*/
.container-2{
    width: 35%;
    text-align: center;
}
.container-2 .container-2__title{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 30px;
}
.container-2 p{
    font-weight: 600;
    font-size: 1.7rem;
}
/*right*/
.container-3{
    width: 30%;
    font-weight: 600;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-3 .container-3__title{
    font-style: normal;
    font-weight: 700;
    font-size: 1.7rem;
}
.container-3 li {
    padding-left: 30px;
    width: 100%;
}
.container-3 li[class="facebook"]{
    padding-left: 25px;
}
.instagram a::before{
    content: url(../img/footer/inst.svg);
    padding-right: 20px;
}
.facebook a::before{
    content: url(../img/footer/fb.svg);
    padding-right: 15px;
}
.twitter a::before{
    content: url(../img/footer/tw.svg);
    padding-right: 10px;
}

.footer__container *{
    color:var(--black)
}

/*footer end*/


