:root{
    --color-blue: #0072DB;
    --color-yellow: #FF9900;
}

body{
    margin: 0;
}
.header{
    display: block;
    text-align: center;
}
.maintext{
    display: inline-block;
}
.maintext__blue{
    color: #3E45E8;
}
.maintext__yellow{
    color: #E8C23E;
}
.banner{
    box-sizing: border-box;
    display: block;
    height: 600px;
    width: 100%;
    background-image:url(../img/backgroundflag.png), url(../img/banner1.png);
    background-size: 15px 175px, cover;
    background-repeat: no-repeat;
    background-position: 10% 50%, -10px;
    padding: 14.5% 10px 0 13%;
    
}
.bannertext{
    display: inline-block;
    color: #FFFFFF;
    line-height: 154%;  
}
.cardsheader__text{
    margin-top: 30px;
    font-size: 2em;
    display: block;
    padding-left: 10%;
}
.cardsheaderflag{
    display: inline-block;
    height: 12px;
    width: 70%;
    background: rgb(0,224,255);
    background: linear-gradient(90deg, rgba(0,224,255,1) 0%, rgba(20,0,255,1) 46%, rgba(255,168,0,1) 47%, rgba(255,245,0,1) 100%);
    margin-bottom: 30px;
}
.cards{
    min-width: 800px;
    max-width: 1200px;
    margin: 0 auto;
}
.card{
    display: inline-block;
    border: 5px #0D095F solid;
    border-radius: 31px;
    width: 30%;
    min-height: 481px;
   ;
    vertical-align: bottom;
}
.card-margin{
    margin: 0 3%;
    box-shadow: 0px 21px 40px  #00D1FF55;
}
.card__img > img{
    width: 100%;
}
.card__title{
    color: var(--color-blue);
    font-weight: bold;
    font-size: 1.5em;
}
.card__description{
    color: var(--color-yellow);
    font-size: 1.2em;
}
.card1{
    box-shadow: -16px 21px 40px  #00D1FF55;
}
.card3{
    box-shadow: 16px 21px 40px  #00D1FF55;
}
.bannermap{
    margin-top: 30px;

}
.bannermap__title{
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-bottom: 7px solid #1400FF;
    font-size: 2em;
}
.bannermap__img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
}
.bannermap__img > img{
    width: 100%;
}
.btn{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
    height: 71px;
    background-color: #2A61F0;
    border-radius: 50px;
    text-align: center;
    color: #FFFFFF;
    font-size: 3.5em;
    font-weight: bolder;
    padding: 5px 0;
    margin-top: 5px;
}
a{
    text-decoration: none;
}
.footer{
    margin-top: 30px;
    text-align: center;
    min-height: 233px;
    background: rgb(13,6,97);
background: linear-gradient(0deg, rgba(13,6,97,1) 0%, rgba(1,50,53,1) 100%);
}
.bottom{
    margin-top: 10px;
    margin-bottom: 5px;
}
.contacts{
font-size: 2em;
color: #A89D9D;
margin-top: 5px;
margin-bottom: 5px;
}
.socials{
    margin-top: 5px;
}
.social{
    height: 32px;
    width: 32px;
    display: inline-block;
    background-position: center;
}
.fb{
    background-image: url(../svg/fb.svg);
    margin: 0 20px;
}
.inst{
    background-image: url(../svg/inst.svg);
}
.yt{
    width: 43px;
    background-image: url(../svg/yt.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
