html{
    font-size: 16;
    --white : #fff;
    --black : #060619;
    --white80: rgba(255, 255, 255, 0.8);
    --blue: #3A3AF4;
    --bg: #EEEEFF;
}

body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    background-color: var(--bg);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;

}

.container{
    width: 80%;
    margin: 0 auto;
}

/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

/*header start*/

.header-bg{
    background-image: url(../img/header/bg-squear.svg), linear-gradient(180deg, #0F0F33 0%, #050517 100%);
    background-repeat: no-repeat;
    background-position: right bottom;
    min-height: 577px;
    color: var(--white);
    padding: 58px 0;
    box-sizing: border-box;
    
}

.header, .navi{
    display: flex;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'DM Sans', sans-serif;

}

.navi{
    width: 48%;
    justify-content: space-between;
   }

.navi .navi__el{
    flex-grow: 1;
    font-weight: 400;
}

.navi  .nav__el-link{
display: inline-block;
width: 100%;
text-align: center;
padding: 15px 0;
text-decoration: none;
color: var(--white80);
}

.navi  .nav__el-link:hover{
    color: var(--white);
    font-weight: 700;
    transition: all .2s;
}

.btn-acc{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 0;
width: 154px;
height: 51px;
background: #FFFFFF;
border-radius: 100px;
box-sizing: border-box;
text-decoration: none;
color: var(--black);
font-weight: 700;
}

.sup_center{
    width: 60%; 
    margin: 75px 0 137px 0;
}

.sup_center__title{
    font-weight: 600;
    font-size: 2.25rem;
    margin-bottom: 10px;
}

.sup_center__description{
   color: var(--white80);

}

.sup_center__search{
    display: flex;
    margin: 30px 0 20px 0;
}

.sup_center__search [type="search"]{
    padding: 1rem 1rem;
    width: 80%;
    font-size: 1.125rem;
    font-weight: 600;
    border: solid 2px;
  
}

.sup_center__search [type="button"]{
    padding: 1.125rem 1.5rem;
    width: 20%;
    background-color: var(--blue); 
    border: solid 2px --blue;
    font-size: 1.125rem;
    color: var(--white);
    font-weight: 600;
}

.sup_center__popular{
    display: flex;
}

.sup_center__popular__el{
color: rgba(255, 255, 255, 0.6);
letter-spacing: 0.1em;
font-weight: 600;
display: inline-block;
padding-right: 1.25rem;
}

.sup_center__popular__tag{
    font-weight: 600;
    color: var(--white);
    display: inline-block;
    padding-right: 1.25rem;
}

/* header end */

/*main start*/

.card{
    width: 30%;
    background-color: var(--white);
    min-height: 310px;
    padding: 1.875rem;
    box-sizing: border-box
    ;
}

.card__title{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.125rem;

}

.card__title::before{
    content: url(../img/main/title.svg);
    margin-right: 1rem;
    display: inline-block;
    width: 50px;
    height: 50px;

}

.card__list{
    font-weight: 600;
    margin-top: 20px;

}

.card__list li{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.card__list *::before{
content: url(../img/main/list.svg);
margin-right: .5rem;
    display: inline-block;
    width: 20px;
    height: 20px;
}
/*main end*/
