a{
    text-decoration: none;
}

body{ 
    margin: 0;
    background-color: #FBE4FF;
    font-size: 22px;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: auto;
    background-color: #243B93;
    margin-bottom: 0;
}

.header__logo{
   
    height: 50px;
    width: 140px;
    border-radius: 167px;
  
   
}

.header__navi{
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-between;
    font-size: 16px;
color: #FFFFFF;
margin-left: 4%;
margin-right: 3%;
} 

.underheader{
    display: flex;
    background-color: #BFF0FF;
    font-style: italic;
    height: 85px;
    width: auto;
margin-top: 0;
font-size: 2em;
align-items: center;
justify-content: center;
}
.underheader__text{
   width: 90%;
}

.choose{
    display: flex;
    align-items: center;
justify-content: center;
background-color: white;
margin: 27px auto;
    max-width: 70%;
    height: 57px;
    border: 1px solid white;
    box-sizing: border-box;
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.61);
    min-width: 1200px;
}


.cards{
    max-width: 70%;
    margin: auto;
    min-width: 1200px;
}

.card{
    width: 100%;
    height: 300px;
background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%); ;
margin: 42px 0;
box-sizing: border-box;
position: relative;
}

.card__img{ 
    
   display: inline-block;
   width: 33.5%;
   padding-left: 3%;
   padding-top: 30px;
   padding-right: 4%;
}

.card__text{
    display: inline-block;
    height: 100%;
    width: 59%;
    vertical-align: top;
    padding-top: 10px;
    padding-right: 5%;
     box-sizing: border-box;

}
.text__headline{
    display: block;
    color: #353C57;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    border-bottom: 3px solid white;
    max-width: 100%;
    margin-bottom: 10px;
}


.text__body{
    background-color: #EDFBFF;
    max-width: 100%;
    height: 211px;
    display: block;
    padding: 16px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #202846;
}
.card__star{
 background-image: url(../img/white-star.svg);
 width: 48px;
 height: 46px;
top: 6px;
right: 10px;
position: absolute;
 }
.card__img > img{
    width: 100%;
}

.card__btn{
     color: #FFFFFF;
     width: 210px;
    height: 38px;
    display: block;
    background-color: #243B93;
    border-radius: 30px;
    padding-top: 8px;
    top: 235px;
    right: -34px;
    text-align: center;
    position: absolute;
    font-weight: 400;
    font-size: 24px;  
}

.card:hover{
    background: rgba(44, 189, 235, 1);
    box-shadow: 0px 0px 40px 4px rgba(44, 189, 235, 1);
    transition: all 1s ease;
}

.card:hover > .position_absolute > .card__btn{
    background-color: #EF075B;
    transition: all 1s ease;
}

.card:hover > .position_absolute > .card__star {
    background-image: url(../img/yellowstar.svg)
}