body {
    background-color: #001124;
}

.enter {
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.img{
    padding-top: 100px;
    max-height: 550px;
}




.reg {
    padding-left: 10%;
    padding-top: 5%;
}

.reg__title {
    font-size: 45px;
}

input {
    width: 360px;
    height: 43px;
    margin-bottom: -5px;
}
label{
    margin-bottom: -6px;
}
a {
    text-decoration: none;
    color: #499FFE
}
form{
    margin-left: 13%;
}


#button {font-size: 20px;
    text-transform: uppercase;
    background-color: #015FC7;
    color: white;
    width: 180px;
    height: 43px;
border-radius: 5px;
margin-left: 25%;
margin-top: 20px;
}
